.about {
  width: 100%;
}

.about-hello {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "freight-display-pro",serif;
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  width: 70%;
}

.about-pic {
  display: block;
  margin: auto;
  width: 82%;
  max-width: 18.75rem;
  margin-bottom: 1.5rem;
}

.about-text {
  display: block;
  margin: auto;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {

  .about-hello {
    position: relative;
    right: 8%;
    text-align: right;
    font-size: 3rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .about-pic {
    margin: 0;
    margin-left: 7%;
    padding-bottom: 10%;
  }

  .about-text {
    top: 15%;
  }
}

@media (min-width: 1024px) {

  .about-hello {
    font-size: 3rem;
    margin-bottom: 2.25rem;
    padding-right: 5rem;
    width: 100%;
  }

  .about-pic {
    margin: 0;
    margin-left: 18%;
    padding-bottom: 10%;
  }

  .about-text {
    top: 15%;
    right: 9.5rem;
  }
}
