.about {
  width: 100%;
}

.about-hello {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "freight-display-pro",serif;
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  width: 70%;
}

.about-pic {
  display: block;
  margin: auto;
  width: 82%;
  max-width: 18.75rem;
  margin-bottom: 1.5rem;
}

.text-about {
  display: block;
  margin: auto;
  line-height: 1.5rem;
  padding-left: 2rem;
  width: 90%;
  max-width: 25rem;
  padding-bottom: 2rem;
}

.resume-link {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "mr-eaves-modern",sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  color: #C96982;
  padding-bottom: 3rem;
}


@media (min-width: 768px) {

  .about-hello {
    position: relative;
    right: 8%;
    text-align: right;
    font-size: 3rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .about-pic {
    padding-bottom: 10%;
  }

  .text-about {
    padding-left: 0;
    width: 100%;
  }

  .link-wrapper {
    display: block;
    margin: auto;
    width: 6.5rem;
  }

  .resume-link.effect:after {
    height:0.1rem;
  }

  .resume-link {
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {

  .about-hello {
    font-size: 3.5rem;
    margin-bottom: 2.25rem;
    padding-top: 2.5rem;
    padding-right: 2rem;
    width: 100%;
  }

  .about-pic {
    padding-bottom: 10%;
  }

  .text-about {
    margin-top: 8%;
  }

  .link-wrapper {
    width: 7rem;
  }

  .resume-link {
    font-size: 1.5rem;
  }

}
