.hero-image-container {
  margin-bottom: 35%;
}

.hero-title-ob {
  padding-top: 8%;
  width: 40%;
}

.hero-text-ob {
  text-align: left;
}

.opening-screens {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 45rem;
}

/* Survey */

.stat {
  text-align: center;
}

.question-stat {
  display: block;
  margin: auto;
  text-align: center;
  width: 85%;
}

.asked {
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 0;
}

.question {
  font-family: "freight-display-pro",serif;
  font-weight: 200;
  line-height: 1.5rem;
  margin: .5rem 0;
}

.question-stat .stat {
  display: inline-block;
  padding: 0 1.5rem;
}

/* The User */

.persona-quote {
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

/* Primary Objectives */

.primary-title {
  width: 12rem;
}

.mvp-assets-ob {
  width: 95%;
  max-width: 35rem;
  padding-top: 1.5rem;
}

.sub-heading {
  margin-top: 2.5rem;
}

.user-stories-ob {
  float: right;
  padding-bottom: 2.5rem;
}

.contributors-container {
  clear: right;
  margin-bottom: 3rem;
}

/* Building the Structure */

.wireframe-ob {
  float: right;
  width: 95%;
  max-width: 40rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.building-title {
  width: 12rem;
}

.building {
  margin-bottom: 1rem;
}

/* Creating the Atmosphere */

.creating-title {
  width: 14rem;
}

.logo-marks {
  display: block;
  margin: 10% auto;
  width: 90%;
  max-width: 28rem;
}

.final-mark {
  display: block;
  margin: 10% auto;
  width: 40%;
  max-width: 14rem;
}

.typefaces-ob {
  display: block;
  margin: 10% auto;
  width: 85%;
  max-width: 28rem;
}

.palette-img-ob {
  display: block;
  margin: 10% auto;
  width: 85%;
  max-width: 28rem;
}

.touch-pic {
  float: right;
  padding-bottom: 3.75rem;
}

.touches {
  margin-bottom: 2rem;
}

/* Prototype */

.finishing-title {
  width: 10.5rem;
}

.flow-desktop {
  display: none;
}

.homepage-img, .flow-mobile {
  display: block;
  margin: 1rem auto;
  width: 90%;
  max-width: 30rem;
}

.prototype-link {
  margin-top: 10%;
}

@media (min-width: 768px) {

  .main-title {
    margin-bottom: .5rem;
  }

  .hero-title-ob {
    width: 35%;
  }

  .hero-excerpt {
    top: -2rem;
    left: 55%;
    width: 40%;
  }

  .opening-screens {
    padding-top: 4rem;
  }

  /* Survey */

  .one-year {
    top: 10%;
    right: 6rem;
  }

  .question-stat {
    margin: 0;
    margin-left: 2rem;
    width: 40%;
  }

  .stat-two, .stat-three {
    margin-top: 5rem;
  }

  .stat-three {
    margin-bottom: 5rem;
  }

  .asked {
    margin-top: 0;
  }

  .consider {
    top: 12%;;
  }

  /* The User */

  .avatar {
    margin-bottom: 40%;
  }

  /* Primary Objectives */

  .primary-title {
    width: 16rem;
  }

  .mvp-assets-ob {
    width: 48%;
  }

  .user-stories-ob {
    position: absolute;
    top: 10%;
    right: 0;
    width: 49%;
  }

  .contributors-container {
    margin-bottom: 10%;
  }

  .contributors-text {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
  }

  .user-flow-ob {
    left: -1rem;
    padding: 6rem 0;
    width: 49%;
  }

  /* Building the Structure */

  .building-title {
    width: 16rem;
  }

  .wireframe-ob {
    position: relative;
    right: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 85%;
    max-width: 70rem;
  }

  .building-text {
    top: 60%;
  }

  /* Creating the Atmosphere */

  .creating-title {
    padding-top: 3.75rem;
    width: 18.5rem;
  }

  .logo-marks {
    margin: 5% auto;
    width: 70%;
    max-width: 45rem;
  }

  .final-mark {
    margin: 5% 0;
    margin-left: 15%;
    margin-bottom: 25%;
    padding-top: 7%;
    width: 25%;
  }

  .logo-text {
    top: 2rem;
  }

  .typefaces-ob {
    position: absolute;
    top: -5.5rem;
    right: 2.5rem;
    width: 40%;
  }

  .palette-text-ob {
    top: 12%;
  }

  .palette-img-ob {
    margin: 15% 0;
    padding-top: 3%;
    margin-left: 2rem;
    width: 42%;
  }

  .touch-pic {
    position: absolute;
    right: 0;
  }
  /* Prototype */

  .prototype-text {
    padding-bottom: 1.5rem;
  }

  .finishing-title {
    width: 13.5rem;
  }

  .touch-pic {
    top: 40%;
  }

  .touches {
    margin-bottom: 10%;
  }

  .flow-mobile {
    display: none;
  }

  .flow-desktop {
    display: block;
  }

  .prototype-subhead {
    margin-top: 5%;
  }

  .homepage-img {
    width: 50%;
  }

  .flow-desktop {
    display: block;
    margin: auto;
    width: 92%;
  }

  .journal-flow .sub-heading {
    margin-top: 6%;
  }
}

@media (min-width: 1024px) {

  .main-title {
    margin-bottom: 1rem;
  }

  .hero-text-ob {
    padding-top: 3%;
  }

  .opening-screens {
    width: 90%;
    max-width: 50rem;
  }

  /* Survey */

  .one-year {
    top: 13%;
    right: 9rem;
  }

  .question-stat {
    margin-left: 6rem;
    width: 30%;
  }

  .stat-two, .stat-three {
    margin-top: 6rem;
  }

  /* The User */

  .avatar {
    margin-bottom: 30%;
  }

  /* Primary Objectives */

  .primary-title {
    width: 18rem;
  }

  .mvp-assets-ob {
    width: 48%;
  }

  .user-stories-ob {
    width: 48%;
  }

  /* Building the Structure */

  .building-title {
    width: 18rem;
  }

  .wireframe-ob {
    right: 0;
  }

  .building-text {
    top: 62%;
  }

  /* Creating the Atmosphere */

  .creating-title {
    width: 20.5rem;
  }

  .logo-marks {
    margin: 8% auto;
    width: 60%;
  }

  .final-mark {
    margin-left: 17%;
    padding-top: 5%;
    width: 20%;
  }

  .typefaces-ob {
    top: -7rem;
    right: 4rem;
    width: 35%;
  }

  .palette-img-ob {
    padding-top: 2%;
    margin-left: 4rem;
    width: 40%;
  }

  /* Prototype */

  .finishing-title {
    width: 16rem;
  }

  .prototype-subhead {
    margin-top: 5%;
  }

  .homepage-img {
    width: 50%;
  }

  .flow-desktop {
    width: 85%;
  }
}
